.cancel-wrap {
  .cancel-list-wrap {
    margin-top: 30px;

    .info {
      display: inline-block;
      margin-bottom: 10px;
      font-size: 0.95rem;
      font-weight: 500;
      color: #666;
    }
  }
}