.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #eee;

  .tit {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: #777;

    span {
      margin-bottom: -10px;
      font-size: 1.1rem;
      font-weight: 400;
      color: #999;
    }
  }

  .input-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;

    ~.input-wrap {
      margin-top: 12px;
    }

    label {
      margin-left: 2px;
      font-size: 1rem;
      font-weight: 400;
      color: #888;
    }

    input {
      padding-left: 10px;
      width: 70%;
      height: 30px;
      border: 1px solid #ccc;
      border-radius: 5px;

      &::placeholder {
        font-size: 0.9rem;
        color: rgba(#8B8585, 0.7);
      }
    }
  }

  button {
    margin-top: 25px;
    padding: 10px 0;
    width: 260px;
    border-radius: 5px;
    background-color: #FDDC3F;
    font-size: 1rem;
    font-weight: bold;
    color: #666;
  }
}