.wrap {
  width: 100%;
  margin: 30px 0;
  min-height: 316px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(#888, 0.2);

  .top-wrap {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    height: 53px;
    padding-top: 10px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;

      svg {
        margin-right: 1px;
        pointer-events: none;

        &.right {
          margin-left: 2px;
          transform: rotate(180deg);
        }
      }
    }

    .tit-wrap {
      display: flex;
      column-gap: 10px;

      h2 {
        font-size: 1.35rem;
        color: #777;
      }

      .today-btn {
        margin-top: 9px;
        padding: 10px 0;
        width: 36px;
        height: 20px;
        font-size: 0.7rem;
        font-weight: 500;
        color: #666;
        border-radius: 3px;
        background-color: #eee;
      }
    }

  }

  .day-wrap {
    display: flex;
    justify-content: space-around;
    padding: 3px 20px;
    margin: 5px 0 10px;
    background-color: #eee;

    .day {
      flex-shrink: 0;
      width: 40px;
      font-size: 0.7rem;
      font-weight: 500;
      text-align: center;
      color: #999;

      &.sunday {
        color: rgba(#A6242F, 0.7);
      }

      &.saturday {
        color: rgba(#2C5E7F, 0.7);
      }
    }
  }

  .dates-wrap {
    padding-bottom: 10px;

    .week-wrap {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      padding: 0 20px;
      height: 43px;

      li {
        .date {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 35px;
          font-size: 1rem;
          font-weight: 500;
          color: #777;
          border-radius: 5px;

          &.active {
            background-color: rgba(#FDDC3F, 0.8);
          }

          &.disable {
            opacity: 0.2;
            pointer-events: none;

            &:hover {
              background: none;
            }
          }

          &.sunday {
            color: #A6242F;
          }

          &.saturday {
            color: #2C5E7F;
          }
        }

        &~li {
          margin-top: 10px;
        }
      }
    }
  }
}